.card {
    height: 300px;
    width: 200px;
    margin-left: 10px
}

.col {
    height: 350px;
    width: auto;
    margin: 25px 5px 0 5px;
    transition: .5s;
}

.col:hover {
    transform: scale(1.025);
    cursor: pointer;
}

.row > .card-text {
    margin-top: 25px;
    margin-left: 25px;
    width: 100px;

}

.cor {
    padding-left: 8.5%;
}