main {
    min-height: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
@media screen and (max-width: 600px) {
  footer {
    visibility: hidden;
  }
}

.card:hover {
    transform: scale(1.025);
    cursor: pointer;
}

