section {
    min-height: calc(100% - 128px);
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}
@media screen and (max-width: 600px) {
  section {
    min-height: calc(100% - 169px);
  }
}

.card {
    width: 100%;
}

.card:hover {
    transform: scale(1.025);
    cursor: pointer;
}

.row > .card-text {
    margin-top: 25px;
    margin-left: 25px;
    width: 100px;

}

.img {
    object-fit: contain;
    height: 200px;
}

.line {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

body {
      min-width: 375px
}