.card {
    height: 400px;
    width: 400px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(201, 196, 196, 0.5);
    background-blend-mode: multiply;
}

.col {
    height: 350px;
    width: auto;
    margin: 25px 5px 0 5px;
    transition: .5s;
}

.col:hover {
    transform: scale(1.025);
    cursor: pointer;
}

.row > .card-text {
    margin-top: 25px;
    margin-left: 25px;
    width: 100px;

}

.cor {
    padding-left: 10px;
}

.flex_row {
    display: flex;
    flex-direction: row;
    flex: 0 0 33.333333%
}

.btn .btn-dark:hover {
    cursor: crosshair;
}

.input-group {
    padding: 100px 0 0 100px
}

.img {
    object-fit: contain;
    height: 250px;
}

.card {
    transition: 1s;
}

.card:hover {
    transform: scale(1.01);
    cursor: pointer;
}