{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href='/static/style/cart_style.css'/>{% endblock %}

{% block title %}
<title>Корзина</title>
{% endblock %}

{% block body %}
<main>
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li><a href="#">Корзина</a></li>
        </ul>
    </div>
    <section>
        <div class="container-fluid">
            {% if items_in_bag_with_num %}
            <div class="row justify-content-center">
                <div class="col-sm-6 bg-white rounded-pill">
                    <div class="cart-wrap">
                        <h2>Корзина товаров</h2>
                    </div>
                </div>
            </div>
            <section class="h-100" style="background-color: #eee;" id="iibwn">
                <div class="container h-100 py-5">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-10" id="items">
                            {% for (item, num) in items_in_bag_with_num %}
                            <div class="card rounded-3 mb-4" id="{{item[0]}}-item">
                                <div class="card-body p-4">
                                    <div class="row d-flex justify-content-between align-items-center">
                                        <div class="col-md-2 col-lg-2 col-xl-2">
                                            <img src="{{item[4]}}"
                                                 class="img-fluid rounded-3">
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-xl-3">
                                            <p class="lead fw-normal mb-2">{{item[1]}}</p>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                            <button class="btn btn-link px-2"
                                                    onclick="actionItem('{{item[0]}}', -1, '{{item[3]}}')">
                                                <img src="/static/icons/minus.svg" width="15" height="15">
                                            </button>
                                            <span id='{{item[0]}}' class="badge bg-dark rounded-pill"
                                                  style="line-height: 50px; font-size: 20px">
                                                {{num}}
                                            </span>
                                            <button class="btn btn-link px-2"
                                                    onclick="actionItem('{{item[0]}}', 1, '{{item[3]}}')">
                                                <img src="/static/icons/plus.svg" width="15" height="15">
                                            </button>
                                        </div>
                                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                            <h5 id='{{item[0]}}-price' class="mb-0">{{item[3] * num}} руб.</h5>
                                        </div>
                                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                            <button class="btn btn-link px-2"
                                                    onclick="deleteItem('{{item[0]}}')">
                                                <img src="/static/icons/cart-x.svg" width="40" height="40">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
            {% else %}
            <div class="row justify-content-center">
                <div class="col-sm-6 bg-white rounded-pill">
                    <div class="cart-wrap">
                        <h2>У вас нет товаров в корзине</h2>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </section>

    {% if items_in_bag_with_num %}
    <div class="d-flex justify-content-center container-fluid" style="background-color: #eee; margin: 0px 5% 50px 0">
        <button style="font-size: 100%; margin: 50px" class="badge bg-dark" onclick="Processing(this)">
            <span class="badge badge-primary" style="font-size: 20px">Перейти к оформлению</span>
        </button>
    </div>
    {% endif %}
    <!-- Оформление заказа -->
    <section id="corob" style="display: none">
        <div class="container">
            <form class="row g-3" method="post">

                {{ form.hidden_tag() }}

                <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Оформление заказа</h3>

                <div class="col-md-6 form-outline mb-4">
                    {{ form.firstname(size=32, class_='form-control form-control-lg', placeholder="Имя") }}
                </div>

                <div class="col-md-6 form-outline mb-4">
                    {{ form.phone(size=32, class_='form-control form-control-lg', placeholder="Телефон") }}
                </div>

                <div class="col-md-6 form-outline mb-4">
                    {{ form.city(size=32, class_='form-control form-control-lg', placeholder="Город") }}
                </div>

                <div class="col-md-6 form-outline mb-4">
                    {{ form.street(class_='form-control form-control-lg', placeholder="Улица") }}
                </div>

                <div class="col-md-3 form-outline mb-4">
                    {{ form.house(size=32, class_='form-control form-control-lg', placeholder="Дом") }}
                </div>

                <div class="col-md-3 form-outline mb-4">
                    {{ form.apartment(size=32, class_='form-control form-control-lg', placeholder="Квартира") }}
                </div>

                <div class="col-md-3 form-outline mb-4">
                    {{ form.entrance(size=32, class_='form-control form-control-lg', placeholder="Подъезд") }}
                </div>

                <div class="col-md-3 form-outline mb-4">
                    {{ form.floor(size=32, class_='form-control form-control-lg', placeholder="Этаж") }}
                </div>

                <br>

            </form>
        </div>

        {% if items_in_bag_with_num %}
        <form action="/cart" enctype="application/json" method="POST" style="margin: 0px 5% 50px 0">
            <button style="font-size : 100%;" class="badge bg-dark rounded-pill">
                <span id='amount' class="badge badge-primary" style="font-size: 20px">Совершить заказ</span>
            </button>
        </form>
        {% endif %}
    </section>

</main>

<script src="static/script/cart.js"></script>
{% endblock %}