{% extends 'base.html' %}

{% block style %}<link rel="stylesheet" href='/static/style/cart_style.css'/>{% endblock %}

{% block title %}
<title>Online Market</title>
{% endblock %}

{% block body %}
<main>
    <section class="cart">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-sm-6 bg-white rounded-pill">
                    <div class="cart-wrap">
                        <h2>Корзина товаров</h2>
                    </div>
                </div>
            </div>
            {% if items_in_bag_with_num %}
                <section class="py-5 text-center container">
                    <div class="album py-5 bg-light">
                        <div class="container">
                            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                                {% for (item, num) in items_in_bag_with_num %}
                                    <div class="flex_row">
                                        <div class="card shadow-sm">
                                            <img class="img" src={{item[4]}}>
                                            <div class="card-body">
                                                <p class="card-text"><b>{{item[1]}}</b></p>
                                                <p class="card-text">{{item[3] * num}} руб.</p>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <small class="text-muted"><h5>Количество: {{num}}</h5></small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </section>
            {% endif %}
        </div>
    </section>

    <form action="/cart" enctype="application/json" method="POST">
        <input type="submit" class="btn btn-dark" value="Совершить заказ">
    </form>
</main>

<script src="static/script/cart.js"></script>
{% endblock %}