{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href='/static/style/style.css'/>
{% endblock %}

{% block title %}
<title>Понравившиеся</title>
{% endblock %}


{% block body %}
    {% if current_user.is_authenticated %}
        <section class="py-5 text-center container">
            <div class="bg-white rounded-circle">
                <b style="font-size: 35px;" class="rounded-pill">Понравившиеся товары</b>
            </div>
            <div class="album py-5">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 rounded" id="favorites">
                        {% for favorite in favorites %}
                        <div class="flex_row">
                            <div class="card shadow-sm bg-white rounded border">
                                <img class="img" src={{favorite[4]}}>
                                <div class="card-body">
                                    <p class="card-text"><b>{{favorite[1]}} </b></p>
                                    <p class="card-text"><h5>{{favorite[3]}} руб. </h5></p>
                                    <button class="badge bg-dark rounded-pill"
                                            onclick="deleteLikes('{{favorite[0]}}')">
                                        Удалить из избранных
                                    </button>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

<script src="static/script/likes.js"></script>
{% endblock %}

