{% extends 'base.html' %}
{% block style %}
<link rel="stylesheet" href='/static/style/style.css'/>
{% endblock %}

{% block title %}
<title>Рекомендации</title>
{% endblock %}

{% block body %}
<main class="bgbw">
    {% if current_user.is_authenticated %}
    {% if recomendations %}
    <section class="py-5 text-center container">
        <div class="bg-white" style="border-radius: 10px">
            <b style="font-size: 35px;" class=" rounded-pill">Может вам понравиться</b>
        </div>
        <div class="album py-5">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 rounded">
                    {% for recomendation in recomendations %}
                    <div class="flex_row">
                        <div class="card shadow-sm bg-white rounded border">
                            <img class="img" src={{recomendation.img}}>
                            <div class="card-body">
                                <p class="card-text"><b>{{recomendation.title}} </b></p>
                                <p class="card-text"><h5>{{recomendation.price}} руб. </h5></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <button class="btn btn-link px-2"
                                            onclick="addCart('{{recomendation.idItem}}')">
                                        <img src="/static/icons/cart.svg" width="40" height="40">
                                    </button>
                                    {% if recomendation.idItem in items_favorite %}
                                    <button class="btn btn-link px-2"
                                            onclick="">
                                        <img src="/static/icons/favorite-success.svg" width="40" height="40">
                                    </button>
                                    {% else %}
                                    <button class="btn btn-link px-2" id="button-r-{{recomendation.idItem}}"
                                            onclick="addLikes('{{recomendation.idItem}}')">
                                        <img src="/static/icons/favorite-plus.svg" width="40" height="40">
                                    </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    {% endif %}

    <div class="input-group d-flex align-items-center bg-light">
        <div class="position-absolute top-50 start-50 translate-middle" style="font-size: 35px">
            <strong>Поиск товара</strong>
        </div>
        <div class="form-outline">
            <input id="search-focus" type="search" id="form1" class="form-control" placeholder="Поиск"/>
        </div>
        <button type="button" class="btn btn-dark rounded-end" style="margin-right: 5px" onclick="searchItItems()">
            <i id="fas fa-search"></i>
            Найти
        </button>
        <button type="button" class="btn btn-dark rounded-start"
                onclick="filterItems(-1)">Все
        </button>
        {% for category in categories %}
        <button type="button" class="btn btn-dark"
                onclick="filterItems('{{category.idCategory}}')">{{category.name}}
        </button>
        {% endfor %}

        <p class="card-text bg-light text-dark rounded" style="margin: 7.5px">25 / 25</p>

    </div>

    <div class="album py-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for product in products %}
                <div class="flex_row">
                    <div class="card shadow-sm bg-white rounded border">
                        <img class="img" src={{product.img}}>
                        <div class="card-body">
                            <p class="card-text"><b>{{product.title}} </b></p>
                            <p class="card-text"><b>{{product.price}} руб.</b></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <button class="btn btn-link px-2"
                                        onclick="addCart('{{product.idItem}}')">
                                    <img src="/static/icons/cart.svg" width=40 height="40">
                                </button>
                                {% if product.idItem in items_favorite %}
                                <button class="btn btn-link px-2"
                                        onclick="">
                                    <img src="/static/icons/favorite-success.svg" width="40" height="40">
                                </button>
                                {% else %}
                                <button class="btn btn-link px-2" id="button-p-{{product.idItem}}"
                                        onclick="addLikes('{{product.idItem}}')">
                                    <img src="/static/icons/favorite-plus.svg" width="40" height="40">
                                </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</main>

<script src="static/script/index.js"></script>

{% endblock %}