{% extends 'base.html' %}
{% block style %}
<link rel="stylesheet" href='/static/style/style.css'/>
{% endblock %}

{% block title %}
<title>Рекомендации</title>
{% endblock %}

{% block body %}
<main class="bgbw">
    {% if products_sales %}
    <section class="py-5 text-center container">
        <div style="border-radius: 10px">
            <b style="font-size: 35px;" class="bg-white rounded-pill">Чаще всего покупают</b>
        </div>
        <div class="album py-5">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 rounded">
                    {% for product in products_sales %}
                    <div class="flex_row">
                        <div class="card shadow-sm bg-white rounded border">
                            <img class="img" src={{product[3]}}>
                            <div class="card-body">
                                <p class="card-text"><b>{{product[1]}} </b></p>
                                <p class="card-text"><h5>{{product[2]}} руб. </h5></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <button class="btn btn-link px-2"
                                            onclick="addCart('{{product[0]}}')">
                                        <img src="/static/icons/cart.svg" width="40" height="40">
                                    </button>
                                    {% if product[0] in items_favorite %}
                                    <button class="btn btn-link px-2"
                                            onclick="">
                                        <img src="/static/icons/favorite-success.svg" width="40" height="40">
                                    </button>
                                    {% else %}
                                    <button class="btn btn-link px-2" id="button-s-{{product[0]}}"
                                            onclick="addLikes('{{product[0]}}')">
                                        <img src="/static/icons/favorite-plus.svg" width="40" height="40">
                                    </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    {% endif %}

    {% if current_user.is_authenticated %}
    {% if recomendations %}
    <section class="py-5 text-center container">
        <div style="border-radius: 10px">
            <b style="font-size: 35px;" class="bg-white rounded-pill">Персонально вам</b>
        </div>
        <div class="album py-5">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 rounded">
                    {% for recomendation in recomendations %}
                    <div class="flex_row">
                        <div class="card shadow-sm bg-white rounded border">
                            <img class="img" src={{recomendation.img}}>
                            <div class="card-body">
                                <p class="card-text"><b>{{recomendation.title}} </b></p>
                                <p class="card-text"><h5>{{recomendation.price}} руб. </h5></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <button class="btn btn-link px-2"
                                            onclick="addCart('{{recomendation.idItem}}')">
                                        <img src="/static/icons/cart.svg" width="40" height="40">
                                    </button>
                                    {% if recomendation.idItem in items_favorite %}
                                    <button class="btn btn-link px-2"
                                            onclick="">
                                        <img src="/static/icons/favorite-success.svg" width="40" height="40">
                                    </button>
                                    {% else %}
                                    <button class="btn btn-link px-2" id="button-r-{{recomendation.idItem}}"
                                            onclick="addLikes('{{recomendation.idItem}}')">
                                        <img src="/static/icons/favorite-plus.svg" width="40" height="40">
                                    </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    {% endif %}


    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100" style="position: sticky; top: 56px;">
                    <ul class="nav nav-pills flex-column mb-sm-auto align-items-center align-items-sm-start" id="menu">
                        <li class="mb-1">
                            <input id="search-focus" type="search" id="form1" class="form-control" placeholder="Поиск"/>
                        </li>
                        <li class="mb-5">
                            <button type="button" class="btn btn-dark rounded-end" style="margin-right: 5px" onclick="searchItItems()">
                                <i id="fas fa-search"></i>Найти
                            </button>
                        </li>
                        <li>
                            <button type="button" class="btn btn-dark rounded-start"
                                    onclick="filterItems(-1)">Все
                            </button>
                        </li>
                        {% for category in categories %}
                        <li>
                            <button type="button" class="btn btn-dark"
                                    onclick="filterItems('{{category.idCategory}}')">{{category.name}}
                            </button>
                        </li>
                        {% endfor %}
                        <li>
                            <p class="card-text bg-dark text-light rounded" id="statistic"
                               style="margin: 7.5px">25 / 25</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="album py-5 w-75">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="items">
                        {% for product in products %}
                        <div class="flex_row" id="items-{{product.idItem}}-{{product.idCategory}}">
                            <div class="card shadow-sm bg-white rounded border">
                                <img class="img" src={{product.img}}>
                                <div class="card-body">
                                    <p class="card-text"><b>{{product.title}} </b></p>
                                    <p class="card-text"><b>{{product.price}} руб.</b></p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <button class="btn btn-link px-2"
                                                onclick="addCart('{{product.idItem}}')">
                                            <img src="/static/icons/cart.svg" width=40 height="40">
                                        </button>
                                        {% if product.idItem in items_favorite %}
                                        <button class="btn btn-link px-2"
                                                onclick="">
                                            <img src="/static/icons/favorite-success.svg" width="40" height="40">
                                        </button>
                                        {% else %}
                                        <button class="btn btn-link px-2" id="button-p-{{product.idItem}}"
                                                onclick="addLikes('{{product.idItem}}')">
                                            <img src="/static/icons/favorite-plus.svg" width="40" height="40">
                                        </button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<script src="static/script/index.js"></script>

{% endblock %}